<!DOCTYPE html>
<html>
<head>
	<title>Calculation Results</title>
</head>
<body>
	<h1>Calculation Results</h1>
	The result of the calculation:<br>
    <b><%= fNum %></b> "<%= operation %>" <b><%= sNum %></b> is: <b><%= answer %></b>
</body>
</html>
